.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    margin-right: 2rem;
}

.col-10 {
    flex: 10;
    display: inline-block;
}

.col-9 {
    flex: 9;
    display: inline-block;
}


.col-8 {
    flex: 8;
    display: inline-block;
}

.col-6 {
    flex: 6;
    display: inline-block;
}

.col-4 {
    flex: 4;
    display: inline-block;
}

.col-3 {
    flex: 3;
    display: inline-block;
}

.col-2 {
    flex: 2;
    display: inline-block;
}
