.entry-name input {
    font-size: 1.5rem;
    width: 85%;
    margin-bottom: 1rem;
}

input.entry-address {
    resize: none;
    width: 85%;
    font-size: 1rem;
}

.edit-form .field-group {
    margin-top: 0;
}