@import "base.css";
@import "nav.css";
@import "forms.css";
@import "grid.css";
@import "tags.css";
@import "head.css";
@import "cards.css";
@import "icons.css";


/* --------------------
 *  timeline year grid 
 * --------------------
*/
.year {
    padding-bottom: 1rem;
}

/* -----------------
 *  dashboard stats
 * -----------------
*/
.dashboard-stat {
   display: block;
   text-align: center;
   margin-bottom: 1rem;
}

.dashboard-stat .stat {
    font-size: 1.5rem;
}

.dashboard-stat .label {
    display: inline-block;
    vertical-align: middle;
    font-size: .8rem;
}

.dashboard-stat .label a {
    text-decoration: none;
}
