<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Memory</title>
    {{ css_tags|raw }}
</head>

<body>

<div class="nav-back">
    <div class="nav-main content">
        <div class="nav-brand"><a href="/">Memory</a></div>
        <div class="nav-item"><a href="/dashboard">Dashboard</a></div>
        <div class="nav-submenu">
            <div class="nav-item nav-trigger"><a href="#">Create</div>
            <div class="nav-drop">
                <a class="nav-item" href="/new?type=event">Event</a>
                <a class="nav-item" href="/new?type=person">Person</a>
                <a class="nav-item" href="/new?type=place">Place</a>
                <a class="nav-item" href="/new?type=thing">Thing</a>
                <a class="nav-item" href="/new?type=note">Note</a>
            </div>
        </div>
        <div class="nav-item"><a href="/browse">Browse</a></div>
        <div class="nav-item"><a href="/timeline">Timeline</a></div>
        <div class="nav-item"><a href="/seeds">Seeds</a></div>
        <div class="nav-item"><a href="/random">Random</a></div>
    </div>
</div>

{% block body %}{% endblock %}

<script type="module">
import { DropdownMenus } from '/js/nav.js';
let dropdownMenus = new DropdownMenus();
</script>

</body>

</html>