{% extends "base.html.twig" %}
{% block title %}{{ h1 }}{% endblock %}
{% block body %}

<div class="banner"><h1 class="content">{{ h1 }}</h1></div>

<div class="content edit-form">
    <div class="field-group entry-name">
        <input type="text" id="name" name="name" placeholder="Entry Name">        
    </div>

    <div class="tablabel">Entry Type</div>
    <div class="tab">
        <button class="tablinks" data-tab="tab-event">Event</button>
        <button class="tablinks" data-tab="tab-person">Person</button>
        <button class="tablinks" data-tab="tab-place">Place</button>
        <button class="tablinks" data-tab="tab-thing">Thing</button>
        <button class="tablinks" data-tab="tab-note">Note</button>
    </div>

    <!-- Tab content -->
    <div id="tab-event" class="tabcontent">
        <div class="row">            
            <div class="field-group field-date col-3">
                <label for="startDate">Start Date</label>
                <input type="text" size="10" id="startDate" name="startDate">        
            </div>
            <div class="field-group field-date col-3">
                <label for="endDate">End Date</label>
                <input type="text" size="10" id="endDate" name="endDate">        
            </div>
        </div>
    </div>

    <div id="tab-person" class="tabcontent">    
    </div>

    <div id="tab-place" class="tabcontent">
        <div class="field-group">
            <label for="address">Address</label>
            <input type="text" class="entry-address" id="address" name="address">        
        </div>
        <div class="row">            
            <div class="field-group field-date col-3">
                <label for="endDate">Longitude</label>
                <input type="text" size="10" id="longitude" name="longitude">        
            </div>
            <div class="field-group field-latlon col-3">
                <label for="startDate">Latitude</label>
                <input type="text" size="10" id="latitude" name="latitude">        
            </div>
            <div class="field-group field-date col-3">
                <label>&nbsp;</label>
                <input type="button" id="toggleMap" value="Show Map">
            </div>
        </div>
    </div>

    <div id="tab-thing" class="tabcontent">

    </div>

    <div id="tab-note" class="tabcontent">

    </div>

    <div class="field-group">
        <label for="endDate">Tags</label>
        <input type="text" name="tags" id="tags" class="tags-input">        
    </div>

    <div class="field-group">
        <textarea id="description" name="description"></textarea>        
    </div>

</div>

<script type="module">
import { openTab } from '/js/tabs.js';
// open default tab
openTab('tab-event');
</script>

<script src="/js/vendor/tagify.min.js"></script>
<script>
var tagify = new Tagify(document.getElementById('tags'));
</script>

<script src="/vendor/tinymce/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.init({
    selector: '#description',
    plugins: 'lists autolink link image',
    toolbar: 'undo redo | styleselect | bold italic | bullist numlist outdent indent | link image'
});
</script>

{% endblock %}