{% extends "base.html.twig" %}
{% block title %}Home{% endblock %}
{% block body %}

<div class="content">
    <div class="hero">
    <h1>An encyclopedia of your mind.</h1>
    <p>Memory captures your stories, the people in them, the places where they happened, and the objects that made them real. Part journal, part autobiography, part encyclopedia: Memory endures.</p>
    <p class="btn-group"><a href="/signup" class="btn">Start today</a></p>
    </div>
</div>

{% endblock %}